body {
    background-color: rgba(255, 255, 255, 0.545);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 5em;
}

div {
    width: 650px;
    height: 900px;
    /* margin-top: 2%; */
    /* background-image: url("Arise_1.png"); */
    background-size: cover;
    position: relative;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    align-content: center;

    animation-name: anime;
    animation-duration: 0.5s;
    animation-iteration-count: 100000;
}

button {
    padding: 15px;
    background-color: rgba(32, 162, 255, 0.288);
    width: 45%;
    margin-top: 30px;
    font-size: 4em;
    border: none;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.75)
}

/* a {
     width: 250px;
     height: 30px;
     text-align: center;
     padding: 20px;
     background-color: aliceblue;
     border: 2px solid rgb(4, 0, 255);
     border-radius: 10px;
     font-size: 30px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-decoration: none;
     color: black;
     margin-top: 100px;
     margin-left: 10px;
 } */

@keyframes anime {
    0% {
        top: 0px;
    }

    50% {
        top: 1050px;
    }

    100% {
        top: 0px;
    }
}