body{
    background-color: rgba(189, 189, 189, 0.533);
    font-family:Arial, Helvetica, sans-serif;
 }
 div {
     width: 600px;
     height: 840px;
     margin-top: 2%;
     /* background-image: url("Arise_1.png"); */
     background-size: cover;
     position: relative;
     border: 5px solid rgb(255, 255, 255);
     border-radius: 20px;
     align-content: center;

     animation-name: anime;
     animation-duration: 0.7s;
     animation-iteration-count: 10000;
 }

 button{
    padding: 10px;
    width: 200px;
    margin-top:15px;
    font-size:xx-large;
    border-radius: 10px;
 }
 a{
    text-decoration: none;
 }
 /* a {
     width: 250px;
     height: 30px;
     text-align: center;
     padding: 20px;
     background-color: aliceblue;
     border: 2px solid rgb(4, 0, 255);
     border-radius: 10px;
     font-size: 30px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-decoration: none;
     color: black;
     margin-top: 100px;
     margin-left: 10px;
 } */

 @keyframes anime {
     0% {
         top: 0px;
     }

     50% {
         top: 1200px;
     }

     100% {
         top: 0px;
     }
 }
